.header {
  // selecting class header
  background: #20222b;
  color: white;
  margin-bottom: 4.8rem;
  padding: 1.6rem 0;// 1.6 top and bottom, 0 left and right
}
// "BEM" naming convention: block element modifier
// a block is a big thing like header, and element go inside
.header__title {  
  font-size: 3.2rem;
  margin: 0;
}

.header__subtitle {
  font-size: 1.6rem;
  margin: 0;
  color: #a5afd7;
  margin: 0;
}