.header {
  // selecting class header
  background: $off-black;
  color: white;
  margin-bottom: $xl-size;
  padding: $m-size 0;// 1.6 top and bottom, 0 left and right
}
// "BEM" naming convention: block element modifier
// a block is a big thing like header, and element go inside
.header__title {  
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  font-size: $m-size;
  margin: 0;
  color: $off-white;
  margin: 0;
}